{% extends 'base.html.twig' %}

{% block title %}Password reseteada correctamente{% endblock %}

{% block body %}
    <p>
        Vaya a su pagina de Login e introduca la nueva password
    </p>

{% endblock %}
